
@{
    ViewBag.Title = "TidligOpsporing Plus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>
<div>
    <div class="embed">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/paVfkMh875c?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
    </div>
</div>
<div>
    <h3>Værktøjer</h3>
    <ul class="boxes hex display-3">
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/habitual-mode.png" />
                </span>
                <h3>Habitual tilstand</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/vital-parameters.png" />
                </span>
                <h3>Vitale parametre</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/vital-parameters.png" />
                </span>
                <h3>TOPS</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/keep-the-wheel-spinning.png" />
                </span>
                <h3>Hold hjulet i gang</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/pain-assessment-scale.png" />
                </span>
                <h3>Smertevurderingsskala</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/depression-scale.png" />
                </span>
                <h3>Depressionsskala</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/nutritional-assessment.png" />
                </span>
                <h3>Ernæringsvurdering</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/nutritional-screening.png" />
                </span>
                <h3>Ernæringsscreening</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/fall-screening.png" />
                </span>
                <h3>Faldscreening</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/chair-test.png" />
                </span>
                <h3>Stoletest</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ED/walk-test.png" />
                </span>
                <h3>Gangtest</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
    </ul>
</div>
<div>
    <h3>Moduler</h3>
    <ul class="boxes grayscale display-2">
        <li>
            <a href="#">
                <img src="~/Content/Images/News/news5.jpg" />
                <h3>Plejehjem</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <img src="~/Content/Images/News/news6.jpg" />
                <h3>Hjemmepleje</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
    </ul>
</div>
<div>
    <h3>Integrationer</h3>
    <ul class="boxes hex display-4">
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/ad.png" />
                </span>
                <h3>AD</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/kmd.png" />
                </span>
                <h3>KMD Care</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/kmd.png" />
                </span>
                <h3>KMD Nexus</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
        <li>
            <a href="#">
                <span>
                    <img src="~/Content/Images/Icons/csc.png" />
                </span>
                <h3>CSC</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla id facilisis eros. Praesent ac erat eros.</p>
            </a>
        </li>
    </ul>
</div>
<div>
    <h3>Priser</h3>
    <ul class="boxes prices display-4">
        <li>
            <a href="#">
                <h3>
                    <img src="~/Content/Images/Icons/tools.png" />
                    <span>Værktøjer</span>
                </h3>
                <span>
                    <span>2000 kr.</span>
                    <span>per værktøj</span>
                </span>
                <ul>
                    <li>Habitual tilstand</li>
                    <li>Vitale parametre</li>
                    <li>. . .</li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                <h3>
                    <img src="~/Content/Images/Icons/modules.png" />
                    <span>Moduler</span>
                </h3>
                <span>
                    <span>5000 kr.</span>
                    <span>per modul</span>
                </span>
                <ul>
                    <li>Plejehjem</li>
                    <li>Hjemmepleje</li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                <h3>
                    <img src="~/Content/Images/Icons/integrations.png" />
                    <span>Integrationer</span>
                </h3>
                <span>
                    <span>7000 kr.</span>
                    <span>per integration</span>
                </span>
                <ul>
                    <li>AD</li>
                    <li>KMD Care</li>
                    <li>. . .</li>
                </ul>
            </a>
        </li>
        <li>
            <a href="#">
                <h3>
                    <img src="~/Content/Images/Icons/support.png" />
                    <span>Support</span>
                </h3>
                <span>
                    <span>100 kr.</span>
                    <span>månedlig</span>
                </span>
                <ul>
                    <li>Skype</li>
                    <li>Email</li>
                    <li>Telefon</li>
                </ul>
            </a>
        </li>
    </ul>
</div>