
@{
    ViewBag.Title = "Nyheder";
}

<h2>@ViewBag.Title</h2>
<div id="containers">
    <aside class="order-2">
        <h3>Kategorier</h3>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </ul>
        <h3>Seneste nyheder</h3>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </ul>
        <h3>Arkiv</h3>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
            <li><a href="#">Link 4</a></li>
            <li><a href="#">Link 5</a></li>
        </ul>
    </aside>
    <div id="news" class="order-1">
        <div>
            <a href="#">
                <div>
                    <img src="~/Content/Images/News/news1.jpg" />
                </div>
                <div>
                    <h3>Kursus i arbejdsgangs-analyse og design</h3>
                    <span>30-05-2016 10:30</span>
                    <p>Kursus i arbejdsgangsanalyse- og design Optimal anvendelse af Sundhedsplatformen ; Den 11 maj 2016 afholdte Symmetric et kursus i arbejdsgangsanalyse og design for Region Hovedstadens Center for IT, Medico og Telefoni med Jari Friis Jørgensen og Lasse Nykjær som...</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#">
                <div>
                    <img src="~/Content/Images/News/news2.jpg" />
                </div>
                <div>
                    <h3>Symmetrics TO+ med i lærebog for Sygeplejestuderende</h3>
                    <span>30-05-2016 10:30</span>
                    <p>TO+ i Lærebog for Sygeplejestuderende G Symmetric platform til TidligOpsporing af ældre borgere (TO+) er med i bogen “Kvalitetsudvikling og dokumentation i sundhedsvæsenet” udgivet af Dansk Sygeplejeråd og Nyt Nordisk Forlag Arnold Busck. TO+ anvendes...</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#">
                <div>
                    <img src="~/Content/Images/News/news3.jpg" />
                </div>
                <div>
                    <h3>Plejecenter, Rehabiliteringsmodul og Telemedicin</h3>
                    <span>30-05-2016 10:30</span>
                    <p>Vi er glade for at kunne annoncere at vi arbejder på at udvikle et modul af TO+ til brug på plejecentre. Plejecentermodulet vil designmæssigt, ligge sig op ad TO+ som det kendes i dag, men vil have en funktionalitet, der er skræddersyet til behovene hos landets...</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#">
                <div>
                    <img src="~/Content/Images/News/news4.jpg" />
                </div>
                <div>
                    <h3>TO+ version 2.0</h3>
                    <span>30-05-2016 10:30</span>
                    <p>TO+ Opdatering Version 2.0 samt øget fokus på effekt G Tidlig Opsporing Plus er en platform til tidlig opsporing af sygdomstegn for ældre medicinske patienter for hjemmeplejen, på plejecentrene og i hverdagsrehabiliteringsforløb. Det består af en række værktøjer...</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#">
                <div>
                    <img src="~/Content/Images/News/news5.jpg" />
                </div>
                <div>
                    <h3>Nyt Symmetric.dk</h3>
                    <span>30-05-2016 10:30</span>
                    <p>Vi har haft så travlt i forretningen, at vores ansigt udadtil – symmetric.dk – har måttet vente lidt på en længe planlagt fornyelse. Så meget desto mere er det en stor glæde for os at præsentere jer nu for Symmetrics nye digitale hjem! Ikke kun nye...</p>
                </div>
            </a>
        </div>
        <div>
            <a href="#">
                <div>
                    <img src="~/Content/Images/News/news6.jpg" />
                </div>
                <div>
                    <h3>Symmetric er nu KMD Nexus certificeret</h3>
                    <span>30-05-2016 10:30</span>
                    <p>Det har højeste prioritet for os at have de certificeringer, som er nødvendige for at kunne imødekomme vores kunders behov for integration med eksisterende omsorgssystemer. KMD Nexus certificering Vi har senest i marts måned deltaget i et kursus, hvor vi er...</p>
                </div>
            </a>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Scripts/jquery.gray.min.js"></script>
}