
@{
    Layout = "~/Views/AboutUs/_Layout.cshtml";
}
<div id="missing">
    <p>
        Hvordan startede symmetric og hvordan har det udviklet sig frem til nu?<br />
        <b><u>Jari</u></b> skal udfylde dette
    </p>
</div>