@using Prototype.Helpers
@{
    Layout = "~/Views/AboutUs/_Layout.cshtml";
}

<div>
    <ul class="boxes hex display-3">
        <li>
            <div>
                <span>

                    <img src="~/Content/Images/Icons/Services/workflow-analysis.png" />
                </span>
                <h3>Arbejdsgangsanalyse</h3>
                <p>Vi analyserer og designer arbejdsgange ud fra princippet om brugerinddragelse. Vi udfordrer indgroede roller og forestillinger og finder sammen frem til de mest effektive arbejdsgange på netop jeres arbejdsplads.</p>
            </div>
        </li>
        <li>
            <div>
                <span>
                    <img src="~/Content/Images/Icons/Services/implementation.png" />
                </span>
                <h3>Implementering</h3>
                <p>Symmetrics implementeringsmodel inddrager de forskellige aktører i processen. Det giver ejerskab over og accept af systemet, med større sandsynlighed for en succesfuld implementering som følge. </p>
            </div>
        </li>
        <li>
            <div>
                <span>
                    <img src="~/Content/Images/Icons/Services/evaluation.png" />
                </span>
                <h3>Evaluering</h3>
                <p>Symmetrics evalueringskoncept har fokus på afdækning og vurdering af de reelle forandringer, som et projekt medfører. Det er vigtigt ikke kun at se forandringer isoleret, men i den kontekst de finder sted.</p>
            </div>
        </li>
        <li>
            <div>
                <span>
                    <img src="~/Content/Images/Icons/Services/project-management.png" />
                </span>
                <h3>Projektledelse</h3>
                <p>Vi holder projekter på sporet, og leder de involverede deltagere og aktiviteter i samme retning. Vi har en konkret og pragmatisk tilgang til projekter, baseret på vore erfaring med projekter generelt og projektledelse specifikt.</p>
            </div>
        </li>
        <li>
            <div>
                <span>
                    <img src="~/Content/Images/Icons/Services/education.png" />
                </span>
                <h3>Undervisning</h3>
                <p>Vi analyserer og designer arbejdsgange ud fra princippet om brugerdrevet innovation og brugerinddragelse. Vi udfordrer indgroede roller og forestillinger og finder sammen frem til de mest effektive arbejdsgange på netop jeres arbejdsplads.</p>
            </div>
        </li>
        <li>
            <div>
                <span>
                    <img src="~/Content/Images/Icons/Services/development.png" />
                </span>
                <h3>Udvikling</h3>
                <p>Vi udbyder kurser indenfor analyse, idégenerering og implementering i forbindelse med IT- og kvalitetsprojekter. Kurserne ledes af erfarne undervisere, og inkluderer alt fra undervisningsmateriale til forplejning.</p>
            </div>
        </li>
    </ul>
</div>