
@{
    Layout = "~/Views/AboutUs/_Layout.cshtml";
}
<div id="missing">
    <p>
        Hvad er planen med symmetric? Er det at blive et stort konsulent hus med speciale indenfor [........] eller er det at blive hovedleverandør af IT systemer til den offentlige sektor eller andet?<br />
        <b><u>Jari</u></b> skal udfylde dette
    </p>
</div>