*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
}
h1,
h2,
h3 {
  font-weight: bold;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  font-size: 1em;
}
a:hover {
  text-decoration: none;
}
input,
input:active,
input:focus,
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
  border: none;
  outline: none;
  outline-style: none;
  outline-width: 0;
}
input,
textarea {
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
ul {
  list-style-type: none;
}
a,
input[type=button],
input[type=submit],
input[type=reset] {
  cursor: pointer;
}
input[type=button],
input[type=submit],
input[type=reset] {
  border: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a,
button,
.myelements {
  /* disable 300 ms delay */
  -ms-touch-action: manipulation;
  /* IE10  */
  touch-action: manipulation;
  /* IE11+ */
}
/*@import "animate";*/
body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #808080;
}
body > #overlay {
  display: none;
  position: fixed;
  top: -100px;
  bottom: -100px;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
  cursor: initial;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  border: none;
}
ul.bullets > li {
  position: relative;
  padding-left: 12px;
}
ul.bullets > li::before {
  content: '';
  width: 5px;
  height: 5px;
  -webkit-border-radius: 2.5px;
  -moz-border-radius: 2.5px;
  border-radius: 2.5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  background-color: #bbb;
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
}
ul.bullets > li + li {
  margin-top: 2px;
}
h2 {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 1.6em;
  text-align: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #bbb;
}
h3 {
  word-wrap: break-word;
}
a {
  color: #4584f0;
}
header > .center,
#content > .center,
footer > div > .center {
  margin: 0 auto;
  width: 100%;
}
header > .center,
#content > .center,
footer > div > .center {
  max-width: 1040px;
}
html.touchevents > body > #overlay {
  cursor: pointer;
  /* fixes IOS bug, that doesn't register click on elements without "cursor: pointer" */
}
@media (max-width: 939px) {
  html.no-touchevents > body header nav > span:hover {
    background-color: white;
  }
  html.no-touchevents > body header nav > span:hover::before {
    opacity: 1;
  }
  html.no-touchevents > body header nav > span.open + ul > li > span > a:hover,
  html.no-touchevents > body header nav > span.open + ul > li > a:hover,
  html.no-touchevents > body header nav > ul > li > a:hover {
    background-color: #ddd;
  }
}
@media (min-width: 940px) {
  html.no-touchevents > body header nav > ul > li {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
  }
  html.no-touchevents > body header nav > ul > li:hover,
  html.no-touchevents > body header nav > ul > li:focus,
  html.no-touchevents > body header nav > ul > li:active {
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  }
  html.no-touchevents > body header nav > ul > li > a:hover {
    border-color: #bbb;
  }
  html.no-touchevents > body header nav > ul > li > a:not(.active):hover {
    background-color: white;
  }
}
html.no-touchevents > body header > div h1:hover > a > span:first-of-type {
  background-color: black;
}
html.no-touchevents > body header > div h1:hover > a > span:first-of-type::before {
  border-bottom-color: black;
}
html.no-touchevents > body header > div h1:hover > a > span:first-of-type::after {
  border-top-color: black;
}
html.no-touchevents > body header > div h1:hover > a > span:last-of-type {
  color: black;
}
html.no-touchevents > body header > div nav > ul > li > a.active:hover {
  background-color: rgba(26, 145, 113, 0.8);
}
html.no-touchevents > body header > div nav > ul > li ul.select > li:first-child:hover {
  background-color: white;
}
html.no-touchevents > body header > div nav > ul > li ul.select > li:hover {
  color: black;
}
html.no-touchevents > body header > div nav > ul > li ul.select > li:hover > span > img {
  opacity: 1;
}
html.no-touchevents > body header > div nav > ul > li ul.select > li:first-child:hover::after {
  opacity: 1;
}
html.no-touchevents > body header > div nav > ul > li ul.select > li.open ~ li:hover {
  background-color: #ddd;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > span.active:hover {
  background-color: rgba(26, 145, 113, 0.8);
}
html.no-touchevents > body header > div nav > ul > li.dropdown > span:not(.active):hover {
  background-color: white;
  color: black;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > span > span:hover + span::before,
html.no-touchevents > body header > div nav > ul > li.dropdown > span > span:last-child:hover::before {
  opacity: 1;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > span > a:hover {
  text-decoration: none;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > ul > li > a.active:hover {
  background-color: #707070;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > ul > li > a:not(.active):hover {
  background-color: #ddd;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > ul > li > a:hover {
  text-decoration: none;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > ul > li > a:not(.active):hover {
  color: black;
}
html.no-touchevents > body header > div nav > ul > li.dropdown > ul.icons > li > a:hover > span:first-child {
  opacity: 1;
}
html.no-touchevents > body #content aside > ul.border > li > a:hover {
  background-color: #ddd;
}
html.no-touchevents > body #content aside > ul > li > a:hover {
  background-color: #eee;
}
html.no-touchevents > body #content aside > ul > li > a.active:hover {
  background-color: rgba(26, 145, 113, 0.8);
}
html.no-touchevents > body #content > .center .select-type > li:not(.active):hover {
  background-color: #ddd;
}
html.no-touchevents > body footer ul.social > li > a:hover {
  -webkit-opacity: 0.5;
  -moz-opacity: 0.5;
  opacity: 0.5;
}
html.no-touchevents > body form .submit {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
html.no-touchevents > body form .submit:hover,
html.no-touchevents > body form .submit:focus,
html.no-touchevents > body form .submit:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}
html.no-touchevents > body form input[type=submit]:hover {
  background-color: rgba(26, 145, 113, 0.8);
}
html.no-touchevents > body form input[type=reset]:hover {
  background-color: #ddd;
}
html.no-touchevents > body .boxes.hex > li > a:hover > span:first-of-type {
  /*.swing();
            .animated();*/
  background-color: rgba(26, 145, 113, 0.8);
}
html.no-touchevents > body .boxes.hex > li > a:hover > span:first-of-type:before {
  border-bottom-color: rgba(26, 145, 113, 0.8);
}
html.no-touchevents > body .boxes.hex > li > a:hover > span:first-of-type:after {
  border-top-color: rgba(26, 145, 113, 0.8);
}
html.no-touchevents > body .boxes.grayscale > li > a:hover > img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
html.no-touchevents > body .boxes > li > a {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
html.no-touchevents > body .boxes > li > a:hover,
html.no-touchevents > body .boxes > li > a:focus,
html.no-touchevents > body .boxes > li > a:active {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
}
html.no-touchevents > body .boxes > li:hover > a {
  background-color: #eee;
  border-color: #bbb;
}
html.no-touchevents > body #news > div > a:hover {
  border-color: #bbb;
  background-color: #eee;
}
html.no-touchevents > body #news > div > a:hover > div > img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
}
html.no-touchevents > body #back-to-top:hover {
  background-color: #404040;
}
html.no-touchevents > body #back-to-top:hover::before {
  opacity: 1;
}
/* header nav start */
@media (min-width: 800px) and (max-width: 879px) {
  header h1 > a > span:last-of-type {
    display: none;
  }
}
@media (max-width: 799px) {
  body.fixed-header header {
    position: relative;
  }
  body:not(.open) header nav > ul {
    display: none;
  }
  body.open > #overlay {
    display: block;
  }
  header nav > span {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 63px;
    display: block;
    border-left: 1px solid #bbb;
    cursor: pointer;
    background-color: #eee;
  }
  header nav > span::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 16px;
    height: 16px;
    background-image: url(Images/Layout/menu.png);
    background-size: 16px 16px;
    opacity: .5;
  }
  header nav > ul::before {
    content: '';
    position: absolute;
    top: -9px;
    right: 11px;
    width: 18px;
    height: 9px;
    background-size: 18px 12px;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #bbb;
  }
  header nav ul::after {
    content: '';
    position: absolute;
    top: -8px;
    right: 12px;
    width: 16px;
    height: 8px;
    background-size: 18px 12px;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid white;
  }
  header nav > ul {
    position: absolute;
    top: calc(100% + 12px);
    left: 10px;
    right: 10px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: white;
    z-index: 100;
    border: 1px solid #bbb;
  }
  header nav > ul > li > a {
    padding: 10px 20px;
  }
  header nav > ul > li > ul.select > li > span {
    padding: 10px 20px;
  }
  header nav > ul > li > ul.select > li:first-child {
    padding-right: 41px;
  }
  header nav > ul > li > ul.select > li:first-child:hover {
    background-color: #ddd!important;
    /* have to look into why important is needed here */
  }
  header nav > ul > li > ul.select > li:first-child.open {
    border-bottom: 1px solid #bbb;
  }
  header nav > ul > li > ul.select > li:first-child::before {
    width: 41px;
    height: 40px;
  }
  header nav > ul > li > ul.select > li:first-child::after {
    top: 14px;
    right: 14px;
  }
  header nav > ul > li > ul.select > li.open ~ li {
    border-left: 10px solid #bbb;
  }
  header nav > ul > li + li {
    border-top: 1px solid #bbb;
  }
  header nav > ul > li.dropdown > span > *:first-child {
    padding: 10px 20px;
  }
  header nav > ul > li.dropdown > span > span:last-child {
    width: 40px;
    height: 40px;
  }
  header nav > ul > li.dropdown > span:hover {
    background-color: #ddd!important;
    /* have to look into why important is needed here */
  }
  header nav > ul > li.dropdown > span.open + ul {
    border-top: 1px solid #bbb;
  }
  header nav > ul > li.dropdown > ul {
    border-left: 10px solid #bbb;
  }
  header nav > ul > li.dropdown > ul > li a {
    padding: 10px 20px;
  }
}
@media (min-width: 800px) {
  body.fixed-header header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  }
  body.fixed-header #content {
    margin: 83px 0 20px 0;
  }
  header nav > span {
    display: none;
  }
  header nav > ul > li + li {
    margin-left: 10px;
  }
  header nav > ul > li > a {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid transparent;
    padding: 5px 10px;
  }
  header nav > ul > li > a.active {
    border-color: #bbb;
  }
  header nav > ul > li > ul.select {
    background-color: #eee;
    height: 32px;
  }
  header nav > ul > li > ul.select > li {
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
  }
  header nav > ul > li > ul.select > li > span {
    padding: 5px 10px;
  }
  header nav > ul > li > ul.select > li:first-child:not(.open) {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  header nav > ul > li > ul.select > li:first-child.open {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  header nav > ul > li > ul.select > li:first-child {
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    padding-right: 31px;
  }
  header nav > ul > li > ul.select > li:first-child::before {
    width: 31px;
    height: 30px;
  }
  header nav > ul > li > ul.select > li:first-child::after {
    top: 9px;
    right: 9px;
  }
  header nav > ul > li > ul.select > li.open ~ li:last-child {
    border-bottom: 1px solid #bbb;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  header nav > ul > li.dropdown {
    background-color: #eee;
  }
  header nav > ul > li.dropdown > span.open {
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    /*> *:first-child {
                        .border-radius(5px 0 0 0);
                    }

                    > span:last-child {
                        .border-radius(0 5px 0 0);
                    }*/
  }
  header nav > ul > li.dropdown > span:not(.open) {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
  }
  header nav > ul > li.dropdown > span {
    border: 1px solid #bbb;
  }
  header nav > ul > li.dropdown > span > *:first-child {
    padding: 5px 10px;
  }
  header nav > ul > li.dropdown > span > span:last-child {
    width: 30px;
    height: 30px;
  }
  header nav > ul > li.dropdown > span.open + ul {
    top: 100%;
    left: 0;
    right: 0;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    position: absolute;
    border-left: 1px solid #bbb;
    border-right: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background-color: white;
    z-index: 2;
    overflow: hidden;
  }
  header nav > ul > li.dropdown > span.open + ul > li > a {
    padding: 5px 10px;
  }
}
/* header nav end */
/* #content start */
@media (max-width: 839px) {
  #content aside {
    margin-right: 20px;
  }
  #content #containers {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  #content #containers > * {
    margin-right: 20px;
  }
  #content #containers > * + * {
    margin-top: 20px;
  }
  #content #containers > .order-1 {
    order: 1;
  }
  #content #containers > .order-2 {
    order: 2;
  }
  #content #containers > .order-3 {
    order: 3;
  }
}
@media (min-width: 840px) {
  #content aside {
    width: 230px;
    -webkit-flex-shrink: 0;
    -moz-flex-shrink: 0;
    -ms-flex-shrink: 0;
    flex-shrink: 0;
  }
}
/* #content end */
header {
  background-color: #eee;
  border-bottom: 1px solid #bbb;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  /* Non-prefixed version, currently
                                  not supported by any browser */
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  z-index: 100;
}
header > div {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding: 0 20px;
}
header > div h1 > a {
  padding: 11px 0;
  position: relative;
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header > div h1 > a span {
  display: block;
}
header > div h1 > a > span:first-of-type {
  margin: 10px auto;
  width: 36px;
  height: 20px;
  background-color: #808080;
  display: block;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  position: relative;
}
header > div h1 > a > span:first-of-type > span {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  z-index: 1;
  background-size: 24px 24px;
  background-position: bottom left;
  background-image: url(Images/Layout/symmetric.png);
}
header > div h1 > a > span:first-of-type:before {
  content: " ";
  width: 0;
  height: 10px;
  top: -10px;
  border-bottom: 10px solid #808080;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  position: absolute;
}
header > div h1 > a > span:first-of-type:after {
  content: "";
  width: 0;
  height: 10px;
  position: absolute;
  bottom: -10px;
  border-top: 10px solid #808080;
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
}
header > div h1 > a > span:last-of-type {
  padding: 10px;
  line-height: 20px;
  color: #808080;
}
header > div h1 > a:hover {
  text-decoration: none;
}
header > div nav {
  margin-left: auto;
  padding: 15px 0;
}
header > div nav > ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header > div nav > ul > li > a {
  white-space: nowrap;
  color: #808080;
  display: block;
  line-height: 20px;
}
header > div nav > ul > li > a:hover {
  text-decoration: none;
}
header > div nav > ul > li > a.active {
  color: white;
  background-color: rgba(26, 145, 113, 0.6);
}
header > div nav > ul > li ul.select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
header > div nav > ul > li ul.select > li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  overflow: hidden;
  cursor: pointer;
}
header > div nav > ul > li ul.select > li > span {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header > div nav > ul > li ul.select > li > span > img {
  margin: 2px 5px 2px 0;
  width: 24px;
  height: 16px;
  opacity: .5;
}
header > div nav > ul > li ul.select > li > span > span {
  display: block;
  line-height: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header > div nav > ul > li ul.select > li:first-child {
  position: relative;
}
header > div nav > ul > li ul.select > li:first-child::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  /*border-left: @border-width solid @border-color;
                            background-color: #ddd;*/
}
header > div nav > ul > li ul.select > li:first-child.open:after {
  background-position: bottom left;
}
header > div nav > ul > li ul.select > li:not(:first-child) {
  display: none;
  background-color: white;
}
header > div nav > ul > li ul.select > li.open ~ li {
  display: block;
}
header > div nav > ul > li ul.select > li.open ~ li + li {
  border-top: 1px solid #bbb;
}
header > div nav > ul > li ul.select > li.open ~ li:last-child {
  display: block;
}
header > div nav > ul > li ul.select > li:first-child::after,
header > div nav > ul > li.dropdown > span > span:last-child::before {
  content: '';
  position: absolute;
  width: 12px;
  height: 12px;
  background-image: url(Images/Layout/dropdown.png);
  background-size: 24px 24px;
  opacity: .5;
}
header > div nav > ul > li.dropdown {
  position: relative;
}
header > div nav > ul > li.dropdown > span.active {
  background-color: rgba(26, 145, 113, 0.6);
  color: white;
}
header > div nav > ul > li.dropdown > span.active > span:last-child::before {
  background-position: top right;
  opacity: 1;
}
header > div nav > ul > li.dropdown > span:not(.active).open > span:last-child::before {
  background-position: bottom left;
}
header > div nav > ul > li.dropdown > span.active.open > span:last-child::before {
  background-position: bottom right;
}
header > div nav > ul > li.dropdown > span:not(.open) + ul {
  display: none;
}
header > div nav > ul > li.dropdown > span {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header > div nav > ul > li.dropdown > span > span:last-child {
  position: relative;
  /*background-color: #ddd;*/
}
header > div nav > ul > li.dropdown > span > span:last-child::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
header > div nav > ul > li.dropdown > span > span {
  display: block;
  cursor: pointer;
}
header > div nav > ul > li.dropdown > span > *:first-child {
  white-space: nowrap;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
header > div nav > ul > li.dropdown > span > a {
  color: #808080;
}
header > div nav > ul > li.dropdown > ul.icons > li > a.active > span:first-child {
  opacity: 1;
}
header > div nav > ul > li.dropdown > ul.icons > li > a.active > span:first-child > img {
  bottom: 0;
}
header > div nav > ul > li.dropdown > ul.icons > li > a {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
header > div nav > ul > li.dropdown > ul.icons > li > a > span:first-child {
  margin: 2px 0;
  width: 16px;
  height: 16px;
  opacity: .5;
  overflow: hidden;
  position: relative;
}
header > div nav > ul > li.dropdown > ul.icons > li > a > span:first-child > img {
  position: absolute;
  left: 0;
  width: 16px;
  height: 32px;
}
header > div nav > ul > li.dropdown > ul.icons > li > a > span:last-child {
  margin-left: 5px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header > div nav > ul > li.dropdown > ul > li + li {
  border-top: 1px solid #bbb;
}
header > div nav > ul > li.dropdown > ul > li > a {
  color: #808080;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
header > div nav > ul > li.dropdown > ul > li > a:hover {
  text-decoration: none;
}
header > div nav > ul > li.dropdown > ul > li > a.active {
  color: white;
  background-color: #808080;
}
#content {
  margin: 20px 0;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
#content h3 {
  font-size: 1.2em;
}
#content aside > h3,
#content > .center > div > h3,
#content > .center > #containers > div > h3,
#content > .center > #containers > div > div > h3 {
  padding: 0 10px 5px 10px;
  color: #808080;
  border-bottom: 1px solid #bbb;
}
#content aside {
  color: white;
}
#content aside > ul + h3 {
  margin-top: 40px;
}
#content aside ul.icons > li > a {
  position: relative;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding-left: 32px;
}
#content aside ul.icons > li > a.active::before {
  background-position: bottom left;
  opacity: 1;
}
#content aside ul.icons > li > a::before {
  content: '';
  width: 16px;
  height: 16px;
  position: absolute;
  top: 8px;
  left: 8px;
  background-size: 16px 32px;
  opacity: 0.6;
}
#content aside > h3 {
  margin-bottom: 5px;
}
#content aside > ul.border > li + li {
  margin-top: 5px;
}
#content aside > ul.border > li {
  border: 1px solid #bbb;
  background-color: #eee;
}
#content aside > ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#content aside > ul > li > a {
  line-height: 22px;
  padding: 5px 10px;
  display: block;
  color: #808080;
}
#content aside > ul > li > a:hover {
  text-decoration: none;
}
#content aside > ul > li > a.active {
  color: white;
  background-color: rgba(26, 145, 113, 0.6);
}
#content > .center {
  /*height: 100%;*/
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
#content > .center > div:not(#containers) {
  margin-left: 20px;
  margin-right: 20px;
}
#content > .center > div:not(#containers) > *:not(h3) + * {
  margin-top: 5px;
}
#content > .center > * + * {
  margin-top: 20px;
}
#content > .center > .embed {
  margin-left: 20px;
  margin-right: 20px;
}
#content > .center .model {
  padding: 20px;
  background-color: #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  border: 1px solid #bbb;
}
#content > .center > div > h3,
#content > .center > #containers > div > h3,
#content > .center > #containers > div > div > h3 {
  text-align: center;
  margin-bottom: 20px;
}
#content > .center > #containers {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  /*.flex-grow(1);*/
}
#content > .center > #containers > * {
  margin-left: 20px;
}
#content > .center > #containers > *:last-child {
  margin-right: 20px;
}
#content > .center > #containers > div {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
#content > .center > #containers > div > div + div {
  margin-top: 20px;
}
#content > .center div.center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#content > .center div.center > * {
  margin: 0 auto;
}
#content > .center .select-type {
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  overflow: hidden;
  padding: 1px 0 0 1px;
  width: 100%;
  justify-content: center;
}
#content > .center .select-type > li {
  margin: -1px 0 0 -1px;
  padding: 10px 15px;
  cursor: pointer;
  background-color: #eee;
  border: 1px solid #bbb;
  text-align: center;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#content > .center .select-type > li.active {
  background-color: rgba(26, 145, 113, 0.6);
  pointer-events: none;
  color: white;
}
#content > .center .select-type > li + li {
  border-left: 1px solid #bbb;
}
@media (min-width: 517px) {
  #content > .center .boxes.display-2 > li,
  #content > .center .boxes.display-3 > li,
  #content > .center .boxes.display-4 > li {
    width: calc(50% - 20px);
  }
}
@media (min-width: 757px) {
  #content > .center .boxes.display-3 > li,
  #content > .center .boxes.display-4 > li {
    width: calc(33.333333333% - 20px);
  }
}
@media (min-width: 997px) {
  #content > .center .boxes.display-4 > li {
    width: calc(25% - 20px);
  }
}
#content > .center .left-right.border > li {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  overflow: hidden;
  border: 1px solid #bbb;
}
#content > .center .left-right.bg-gray > li {
  background-color: #eee;
}
#content > .center .left-right {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
#content > .center .left-right > li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
#content > .center .left-right > li > div:first-child {
  width: 150px;
  padding: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
#content > .center .left-right > li > div:first-child > img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  width: 100%;
}
#content > .center .left-right > li > div:last-child > * + * {
  margin-top: 5px;
}
#content > .center .left-right > li + li {
  margin-top: 20px;
}
#content > .center .left-right > li:nth-child(odd) > div:last-child {
  padding: 10px 10px 10px 0;
}
#content > .center .left-right > li:nth-child(even) {
  -webkit-flex-direction: row-reverse;
  -moz-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
#content > .center .left-right > li:nth-child(even) > div:last-child {
  padding: 10px 0 10px 10px;
}
footer {
  border-top: 1px solid #bbb;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
footer h3 {
  margin-bottom: 5px;
}
footer ul.icons-small > li.phone::before {
  background-image: url(Images/Layout/phone-white.png);
}
footer ul.icons-small > li.email::before {
  background-image: url(Images/Layout/email-white.png);
}
footer ul.icons-small > li.web::before {
  background-image: url(Images/Layout/web-white.png);
}
footer form .input {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
footer form .input > input[type=text] {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background-color: rgba(255, 255, 255, 0.5);
}
footer form .input > input[type=text]:focus {
  background-color: white;
}
footer form .input > input[type=submit] {
  background-color: rgba(26, 145, 113, 0.6);
  border-left: none;
}
footer ul.social {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
footer ul.social > li > a {
  width: 32px;
  height: 32px;
  background-size: 32px;
  display: block;
}
footer ul.social > li > a.facebook {
  background-image: url(Images/Layout/facebook-white.png);
}
footer ul.social > li > a.twitter {
  background-image: url(Images/Layout/twitter-white.png);
}
footer ul.social > li > a.google-plus {
  background-image: url(Images/Layout/google-plus-white.png);
}
footer ul.social > li + li {
  margin-left: 20px;
}
footer > div:first-child {
  background-color: rgba(26, 145, 113, 0.6);
  color: #005E3E;
}
@media (max-width: 399px) {
  footer > div:first-child > .center {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer > div:first-child > .center > div + div {
    margin-top: 10px;
  }
}
@media (min-width: 400px) {
  footer > div:first-child > .center > div + div {
    margin-left: 20px;
  }
}
footer > div:first-child > .center a {
  color: #005E3E;
}
@media (max-width: 599px) {
  footer > div:first-child > .center > div:nth-child(3) {
    display: none;
  }
}
@media (max-width: 900px) {
  footer > div:first-child > .center > div:nth-child(4) {
    display: none;
  }
}
footer > div:last-child {
  background-color: rgba(26, 145, 113, 0.8);
}
footer > div:last-child > .center > p {
  color: white;
}
@media (max-width: 440px) {
  footer > div:last-child > .center {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  footer > div:last-child > .center > p {
    order: 2;
  }
  footer > div:last-child > .center > ul {
    order: 1;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
}
footer > div:last-child > .center > ul {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -webkit-flex-grow: 0;
  -moz-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
}
footer > div:last-child > .center > ul > li > a {
  color: white;
}
footer > div:last-child > .center > ul > li + li {
  margin-left: 10px;
}
footer > div > div.center {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  padding: 10px 20px;
}
footer > div > div.center > * {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  /*.flex-basis(0);*/
}
form {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
form input[type=text],
form textarea {
  border: 1px solid #bbb;
  padding: 10px;
  background-color: #eee;
}
form input[type=text]:focus,
form textarea:focus {
  background-color: white;
}
form > * + * {
  margin-top: 10px;
}
form textarea {
  resize: vertical;
  min-height: 86px;
}
form input[type=submit] {
  background-color: rgba(26, 145, 113, 0.6);
  color: white;
}
form input[type=reset] {
  background-color: #eee;
  color: #808080;
}
form input[type=reset],
form input[type=submit] {
  padding: 10px;
  border: 1px solid #bbb;
}
form .buttons {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
form .buttons > .submit,
form .buttons > input[type=submit] {
  margin-left: auto;
}
form .buttons > * + * {
  margin-left: 10px;
}
ul.icons-small > li {
  line-height: 26px;
  position: relative;
  padding-left: 26px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
ul.icons-small > li::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
}
#contact-information > h4 {
  margin-bottom: 5px;
}
#contact-information > ul {
  margin-top: 20px !important;
}
#contact-information > ul.icons-small > li.phone::before {
  background-image: url(Images/Layout/phone-theme.png);
}
#contact-information > ul.icons-small > li.email::before {
  background-image: url(Images/Layout/email-theme.png);
}
#contact-information > ul.icons-small > li.web::before {
  background-image: url(Images/Layout/web-theme.png);
}
#contact-information > ul.icons-small > li.facebook::before {
  background-image: url(Images/Layout/facebook-theme.png);
}
#contact-information > ul.icons-small > li.twitter::before {
  background-image: url(Images/Layout/twitter-theme.png);
}
#contact-information > ul.icons-small > li.google-plus::before {
  background-image: url(Images/Layout/google-plus-theme.png);
}
#google-maps {
  margin-left: 20px;
  margin-right: 20px;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  background-image: url(Images/google-maps.png);
  min-height: 200px;
  max-height: 400px;
  background-position: center center;
  background-size: cover;
}
#missing {
  padding: 20px;
  background-color: #bf3a2b;
  color: white;
}
.boxes.prices > li:nth-child(1) > * > h3 {
  background-color: #27ae60;
}
.boxes.prices > li:nth-child(1) > * > span {
  color: #27ae60;
}
.boxes.prices > li:nth-child(2) > * > h3 {
  background-color: #2980b9;
}
.boxes.prices > li:nth-child(2) > * > span {
  color: #2980b9;
}
.boxes.prices > li:nth-child(3) > * > h3 {
  background-color: #d35400;
}
.boxes.prices > li:nth-child(3) > * > span {
  color: #d35400;
}
.boxes.prices > li:nth-child(4) > * > h3 {
  background-color: #c0392b;
}
.boxes.prices > li:nth-child(4) > * > span {
  color: #c0392b;
}
.boxes.prices > li > a,
.boxes.prices > li > div {
  background-color: #eee;
  padding: 0;
  border: none;
}
.boxes.prices > li > a > h3,
.boxes.prices > li > div > h3 {
  padding: 10px;
  color: white;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  background-color: rgba(26, 145, 113, 0.6);
}
.boxes.prices > li > a > h3 > img,
.boxes.prices > li > div > h3 > img {
  margin: 4px 0;
  width: 16px;
  height: 16px;
}
.boxes.prices > li > a > h3 > span,
.boxes.prices > li > div > h3 > span {
  margin-left: 10px;
  line-height: 24px;
}
.boxes.prices > li > a > span,
.boxes.prices > li > div > span {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin: 15px 0 10px 0;
  color: rgba(26, 145, 113, 0.6);
}
.boxes.prices > li > a > span > span:first-child,
.boxes.prices > li > div > span > span:first-child {
  font-size: 1.8em;
  font-weight: bold;
}
.boxes.prices > li > a > ul,
.boxes.prices > li > div > ul {
  padding: 0 20px 20px 20px;
  list-style-type: initial;
  list-style-position: inside;
}
.boxes.hex > li {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.boxes.hex > li > a > span:first-of-type,
.boxes.hex > li > div > span:first-of-type {
  margin: 35px auto;
  width: 90px;
  height: 50px;
  background-color: rgba(26, 145, 113, 0.6);
  display: block;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  position: relative;
}
.boxes.hex > li > a > span:first-of-type > img,
.boxes.hex > li > div > span:first-of-type > img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  z-index: 1;
}
.boxes.hex > li > a > span:first-of-type > span,
.boxes.hex > li > div > span:first-of-type > span {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  z-index: 1;
  background-size: 48px 96px;
  background-position: bottom left;
}
.boxes.hex > li > a > span:first-of-type:before,
.boxes.hex > li > div > span:first-of-type:before {
  content: " ";
  width: 0;
  height: 25px;
  top: -25px;
  border-bottom: 25px solid rgba(26, 145, 113, 0.6);
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
  position: absolute;
}
.boxes.hex > li > a > span:first-of-type:after,
.boxes.hex > li > div > span:first-of-type:after {
  content: "";
  width: 0;
  height: 25px;
  position: absolute;
  bottom: -25px;
  border-top: 25px solid rgba(26, 145, 113, 0.6);
  border-left: 45px solid transparent;
  border-right: 45px solid transparent;
}
.boxes.grayscale > li > a > img,
.boxes.grayscale > li > div > img {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  /* Chrome 19+, Safari 6+, Safari 6+ iOS, Opera 15+ */
  -webkit-filter: grayscale(1);
  /* Firefox 35+ */
  filter: grayscale(1);
  /* IE 6-9 */
  filter: gray;
}
.boxes {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  margin: -10px;
}
.boxes > li {
  width: calc(100% - 20px);
  margin: 10px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.boxes > li > a:hover {
  text-decoration: none;
}
.boxes > li > div,
.boxes > li > a {
  padding: 10px;
  display: block;
  color: #808080;
  overflow: auto;
  border: 1px solid transparent;
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -webkit-flex-shrink: 1;
  -moz-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
}
.boxes > li > div > img,
.boxes > li > a > img {
  width: 100%;
}
.boxes > li > div > h3,
.boxes > li > a > h3 {
  padding: 0 10px;
  text-align: center;
}
.boxes > li > div > p,
.boxes > li > a > p {
  padding: 0 10px 10px 10px;
  text-align: center;
  word-wrap: break-word;
}
.boxes > li > div > * + *,
.boxes > li > a > * + * {
  margin-top: 5px;
}
#news > div > a {
  border: 1px solid transparent;
  display: block;
  padding: 10px;
  color: #808080;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
@media (max-width: 599px) {
  #news > div > a {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
  }
  #news > div > a > div > img {
    width: 100%;
  }
  #news > div > a > div + div {
    margin-top: 20px;
  }
}
@media (min-width: 600px) {
  #news > div > a > div > img {
    width: 220px;
  }
  #news > div > a > div + div {
    margin-left: 20px;
  }
}
#news > div > a > div:first-child {
  -webkit-flex-shrink: 0;
  -moz-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
}
#news > div > a > div > img {
  /* Firefox 10-34 */
  filter: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'><filter id='grayscale'><feColorMatrix type='saturate' values='0'/></filter></svg>#grayscale");
  /* Chrome 19+, Safari 6+, Safari 6+ iOS, Opera 15+ */
  -webkit-filter: grayscale(1);
  /* Firefox 35+ */
  filter: grayscale(1);
  /* IE 6-9 */
  filter: gray;
}
#news > div > a > div > span {
  display: block;
  color: #bbb;
  margin-bottom: 10px;
}
#news > div > a > div > p {
  line-height: 1.25em;
  max-height: 2.5em;
  overflow: hidden;
}
#news > div > a:hover {
  text-decoration: none;
}
.embed {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.embed iframe,
.embed object,
.embed embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (max-width: 499px) {
  .table.media-500 > .thead {
    display: none;
  }
  .table.media-500 .tr + .tr {
    margin-top: 10px;
  }
  .table.media-500 .th {
    font-weight: bold;
  }
  .table.media-500 .th,
  .table.media-500 .td {
    word-wrap: break-word;
  }
}
@media (min-width: 500px) {
  .table.media-500 {
    display: table;
    border-collapse: collapse;
    border: 1px solid #bbb;
    width: 100%;
  }
  .table.media-500 > .thead {
    display: table-header-group;
    background-color: rgba(26, 145, 113, 0.6);
    color: white;
  }
  .table.media-500 > .tbody {
    display: table-row-group;
  }
  .table.media-500 > .tbody > .tr > .th {
    text-align: right;
  }
  .table.media-500 > .tbody > .tr:nth-child(odd) {
    background-color: #eee;
  }
  .table.media-500 .tr {
    display: table-row;
  }
  .table.media-500 .tr > .th {
    font-weight: bold;
  }
  .table.media-500 .tr > .th > p {
    display: table;
    table-layout: fixed;
    width: 100%;
    word-wrap: break-word;
  }
  .table.media-500 .tr > .th,
  .table.media-500 .tr > .td {
    display: table-cell;
    padding: 5px 10px;
  }
  .table.media-500 .tr > * + * {
    border-left: 1px solid #bbb;
  }
  .table.media-500 .thead + .tbody,
  .table.media-500 .tr + .tr {
    border-top: 1px solid #bbb;
  }
}
#differences {
  display: table;
  border-collapse: collapse;
  border: 1px solid #bbb;
  width: 100%;
}
#differences > .thead {
  display: table-header-group;
  background-color: rgba(26, 145, 113, 0.6);
  color: white;
}
#differences > .tbody {
  display: table-row-group;
}
#differences > .tbody > .tr > .th {
  text-align: right;
}
#differences > .tbody > .tr:nth-child(odd) {
  background-color: #eee;
}
#differences .tr {
  display: table-row;
}
#differences .tr > .th {
  font-weight: bold;
}
#differences .tr > .th > p {
  display: table;
  table-layout: fixed;
  width: 100%;
  word-wrap: break-word;
}
#differences .tr > .th,
#differences .tr > .td {
  display: table-cell;
  padding: 5px 10px;
}
#differences .tr > * + * {
  border-left: 1px solid #bbb;
}
#differences .thead + .tbody,
#differences .tr + .tr {
  border-top: 1px solid #bbb;
}
#differences > .tbody > .tr > .td.plus {
  background-color: #27ae5f;
}
#differences > .tbody > .tr > .td.minus {
  background-color: #bf3a2b;
}
#back-to-top {
  position: fixed;
  bottom: 10px;
  right: 0;
  z-index: 98;
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 30px;
  background-color: rgba(64, 64, 64, 0.6);
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
  -webkit-border-radius: 5px 0 0 5px;
  -moz-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
}
#back-to-top::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-image: url(Images/Layout/dropdown.png);
  background-size: 40px 40px;
  background-position: bottom right;
  opacity: .6;
}
#back-to-top.show {
  opacity: 1;
}
